<%= image_tag("/images/header.png",width: "200px", alt: "STOCK AOUTHORITY") %>
<div class="menubar">
<%= link_to "TOP", root_path %>
&nbsp;|&nbsp; <%= link_to "株価情報", stock_path %>
&nbsp;|&nbsp; <%= link_to "ランキング情報", ranking_path %>
&nbsp;|&nbsp; <%= link_to "決算情報", "#" %>
&nbsp;|&nbsp; <%= link_to "コメント", "#" %>
</div>
