<h1>STOCK AUTHORITY ランキング情報</h1>
<h2>値上がりランキング</h2>
<table>
<thead>
<tr><th>順位</th><th>企業名</th><th>証券コード</th><th>株価</th><th>前日比</th><th>値上がり率</th></tr>
</thead>
<tbody>
<% @ranking_ratio_up.each_with_index do |ranking,i| %>
<%i= i+1 %>
<tr><th><%=i%></th><td><%= link_to ranking.name,stock_path + "/" + ranking.code.to_s %></td><td><%=ranking.code%></td><td>
<%=ranking.price%></td><td><%=ranking.before_ratio1%></td><td><%=ranking.before_ratio2%></td></tr>
<% end %>
</tbody>
</table>
<p><a><%= link_to "more",ranking_path + "/ranking_up" %></p>
<h2>値下がりランキング</h2>
<table>
<thead>
<tr><th>順位</th><th>企業名</th><th>証券コード</th><th>株価</th><th>前日比</th><th>値下がり率</th></tr>
</thead>
<tbody>
<% @ranking_ratio_down.each_with_index do |ranking,i| %>
<%i= i+1 %>
<tr><th><%=i%></th><td><%= link_to ranking.name,stock_path + "/" + ranking.code.to_s %></td><td><%=ranking.code%></td><td>
<%=ranking.price%></td><td><%=ranking.before_ratio1%></td><td><%=ranking.before_ratio2%></td></tr>
<% end %>
</tbody>
</table>
<p><a><%= link_to "more",ranking_path + "/ranking_down" %></p>
<h2>出来高ランキング</h2>
<table>
<thead>
<tr><th>順位</th><th>企業名</th><th>証券コード</th><th>株価</th><th>前日比</th><th>出来高</th></tr>
</thead>
<tbody>
<% @ranking_volume.each_with_index do |ranking,i| %>
<%i= i+1 %>
<tr><th><%=i%></th><td><%=link_to ranking.name,stock_path + "/" + ranking.code.to_s%></td><td><%=ranking.code%></td><td>
<%=ranking.price%></td><td><%=ranking.before_ratio1%></td><td><%=ranking.volume%></td></tr>
<% end %>
</tbody>
</table>
<p><a><%= link_to "more",ranking_path + "/volume" %></p>
<h2>売買代金ランキング</h2>
<table>
<thead>
<tr><th>順位</th><th>企業名</th><th>証券コード</th><th>株価</th><th>前日比</th><th>売買代金</th></tr>
</thead>
<tbody>
<% @ranking_t_value.each_with_index do |ranking,i| %>
<%i= i+1 %>
<tr><th><%=i%></th><td><%=link_to ranking.name,stock_path + "/" + ranking.code.to_s %></td><td><%=ranking.code%></td><td>
<%=ranking.price%></td><td><%=ranking.before_ratio1%></td><td><%=ranking.t_value%></td></tr>
<% end %>
</tbody>
</table>
<p><a><%= link_to "more",ranking_path + "/t_value" %></p>
